@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
} */
li,a,.sign-in-button
{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222;
    text-decoration: none;
}
.hamburger
{
    display: none;
}
.nav-link li
{
    display: inline-block;
    padding: 0px 20px;

}
@media (max-width : 900px) {
    .hamburger
    {
        display: block;
        cursor: pointer;

    }
    .line
    {
        width: 30px;
        height: 3px;
        background: #222;
        margin: 6px 0;
        margin-left: 15px;
    }
    .nav_bar
    {
        display: none;
    }
    .nav-bar.active
    {
        height: 450px;
    }

    .nav-bar
    {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;

    }
    .nav-link li
    {
        display: block;
        width: fit-content;
        margin: 50px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 1;
    }
    .nav-bar.active ul{
        opacity: 1;
    } 
    .nav-link
    {
        display: block;
    }
    .nav-link li a
    {
        display: block;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 25px;
        border-radius: 50px;
        transition: 0.2s;
        margin: 0 8px;

    }
    .nav-link li a:hover
    {
        color: #11101b;
        background-color: #fefefe;
    }
}

li
{
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
} 
.logo
{
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.nav-link
{
    margin-top: 11.7px;
    list-style: none;
}
.nav-link li a
{
    transition: all 0.3s ease 0s;
}

.nav-link:hover
{
    color: #0088a9;
}
a:hover{
    color: #0088a9;
}
li:hover
{
    color: #0088a9;
}
.sign-in-button
{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    font-size: 18px;

}

.sign-in-button:hover
{
    background-color: rgba(0, 136, 169, 0.8);
}
.nav-bar-tap
{
    display: flex;
    align-items: center;
    cursor: pointer;
}